<?xml version="1.0" encoding="UTF-8"?>
<server description="new server">

    <featureManager>

        <!-- with javaee-8.0
        <feature>javaee-8.0</feature>
        <feature>jndi-1.0</feature>
        <feature>localConnector-1.0</feature>
        -->

        <!-- my poc -->
        <feature>jndi-1.0</feature>
        <feature>localConnector-1.0</feature>

        <feature>jms-2.0</feature>
        <feature>mdb-3.2</feature>
        <feature>jca-1.7</feature>

        <feature>concurrent-1.0</feature>
        <feature>acmeCA-2.0</feature>
        <feature>appClientSupport-1.0</feature>
        <feature>ejbLite-3.2</feature>
        <feature>ejbRemote-3.2</feature>
        <feature>ejbHome-3.2</feature>
        <feature>jaxb-2.2</feature>
        <feature>jaxws-2.2</feature>
        <feature>jdbc-4.1</feature>

        <feature>jpa-2.1</feature>
        <feature>jsf-2.2</feature>
        <feature>jsp-2.3</feature>

        <feature>requestTiming-1.0</feature>

        <feature>servlet-3.1</feature>
        <feature>javaMail-1.5</feature>
        <feature>json-1.0</feature>
        <feature>transportSecurity-1.0</feature>
        <feature>ssl-1.0</feature>
    </featureManager>

    <!-- START JMS CONFIGURATION -->
    <basicRegistry id="basic" realm="BasicRealm">
        <user name="test" password="test" />
    </basicRegistry>

    <httpEndpoint id="defaultHttpEndpoint"
                  httpPort="9080"
                  httpsPort="9443"
                  host="*" />


    <resourceAdapter id="activemq" location="${wlp.install.dir}../../../lib/activemq-rar-5.18.6.rar">
        <properties.activemq serverUrl="tcp://localhost:61616"
                             userName="admin"
                             password="admin"/>
    </resourceAdapter>

    <!-- https://openliberty.io/docs/latest/reference/config/connectionManager.html -->
    <connectionManager id="QueueConMgr" minPoolSize="1" maxPoolSize="50" />
    <connectionManager id="TopicConMgr" minPoolSize="1" maxPoolSize="50" />

    <!-- setting Connection Factory for ActiveMQ -->
    <jmsQueueConnectionFactory
            id="QueueConnectionFactory"
            jndiName="jms/QueueConnectionFactory" connectionManagerRef="QueueConMgr">
        <properties.activemq />
    </jmsQueueConnectionFactory>

    <jmsTopicConnectionFactory
            id="TopicConnectionFactory"
            jndiName="jms/TopicConnectionFactory" connectionManagerRef="TopicConMgr">
        <properties.activemq />
    </jmsTopicConnectionFactory>

    <authData id="ActiveMQAuth" user="admin" password="admin"/>

    <jmsActivationSpec id="openliberty-activemq/HelloQueueMDB" >
        <properties.activemq
                destination="TEST.FOO" destinationType="javax.jms.Queue"/>
    </jmsActivationSpec>

    <jmsActivationSpec id="openliberty-activemq/HelloTopicMDB" >
        <properties.activemq
                destination="TEST.TOPIC.FOO" destinationType="javax.jms.Topic"
                clientId="TEST.TOPIC.FOO.CLIENT.ID"
        />
    </jmsActivationSpec>

    <jmsQueue id="HelloQueue" jndiName="jms/HelloQueue">
        <properties.activemq PhysicalName="TEST.FOO" />
    </jmsQueue>
    <jmsTopic id="HelloTopic" jndiName="jms/HelloTopic">
        <properties.activemq PhysicalName="TEST.TOPIC.FOO" />
    </jmsTopic>

    <applicationManager autoExpand="true"/>
    <applicationMonitor updateTrigger="mbean"/>

    <webApplication contextRoot="/" location="openliberty-activemq.war" />

    <!-- SSL Configuration (กรณีที่ต้องการ) -->
    <ssl id="defaultSSLConfig" keyStoreRef="defaultKeyStore"/>


    <!-- setup SQLite jar file -->
    <library id="sqliteLib">
        <fileset dir="${wlp.install.dir}../../../lib" includes="*.jar"/>
    </library>

    <!-- setup SQLite JDBC driver -->
    <jdbcDriver id="SQLiteDriver" libraryRef="sqliteLib" javax.sql.DataSource="org.sqlite.SQLiteDataSource" javax.sql.ConnectionPoolDataSource="org.sqlite.javax.SQLiteConnectionPoolDataSource" />

    <!-- setup SQLite datasource -->
    <dataSource id="SQLiteDS" jdbcDriverRef="SQLiteDriver" jndiName="jdbc/sqlite" type="javax.sql.DataSource">
        <properties URL="jdbc:sqlite:${wlp.install.dir}../../../database.db" />
        <connectionManager maxPoolSize="5"/>
    </dataSource>
</server>
