<?xml version="1.0" encoding="UTF-8"?>
<!-- https://gist.github.com/enujo/849989f10f7c5a737c5fc7245ef34e76 -->
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		 xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
		 xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
		 id="servlet-2_5" version="2.5">
<!-- servelet 3.1
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
		 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		 xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
		 version="3.1">
 -->
	<context-param>
		<param-name>javamelody.disabled</param-name>
		<param-value>false</param-value>
	</context-param>
	<context-param>
		<param-name>javamelody.database</param-name>
		<param-value>false</param-value>
	</context-param>
	<filter>
		<filter-name>javamelody</filter-name>
		<filter-class>net.bull.javamelody.MonitoringFilter</filter-class>
		<!-- https://github.com/javamelody/javamelody/wiki/Parameters -->
		<!-- disable monitor database -->
		<init-param>
			<param-name>no-database</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>javamelody</filter-name>
		<url-pattern>/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
	</filter-mapping>
	<listener>
		<listener-class>net.bull.javamelody.SessionListener</listener-class>
	</listener>
</web-app>